<div class="navBar">
  <div class="title center madimi-one-regular">
    Print
    <div style="color: red">Mate</div>
  </div>
  <div class="nav">
    <div class="navItems center">Home</div>
    <div class="navItems center">My Account</div>
    <div class="navItems center">Reviews</div>
    <div class="navItems center">Policy</div>
    <div class="navItems center">Login</div>
  </div>
</div>
